.entry-meta {
  font-size: 0.7rem;
}

.sidebar {
  width: 280px;
}

@media screen and (min-width: 920px) {
  .has-sidebar .main {
    margin-left: 280px;
    padding-left: 2em;
  }
}

@media screen and (min-width: 480px) {
  body {
      font-size: 1em;
  }
}

/* TOC */

.container.entry-toc {
  border: 1px solid #efefd4;
  border-radius: 5px;
  padding: 1em;
}

.entry-toc a {
  color: #d0b237;
}

/* ENTRY */

.entry .sep-after:after, .sep-before:before {
  margin-top: 1em;
}

/* POSTS section list */

.widget-recent_posts time {
  color: gray;
}