.entry-meta {
  font-size: 0.7rem;
}

.sidebar {
  width: 280px;
}

@media screen and (min-width: 920px) {
  .has-sidebar .main {
    margin-left: 280px;
    padding-left: 2em;
  }
}

@media screen and (min-width: 480px) {
  body {
      font-size: 1em;
  }
}