/* general styling */

.site .main { width: 100%; }

.sidebar {
  width: 280px;
}

/* space between main and footer */
main#content footer.entry-footer .container.sep-before:before {
  margin-bottom: 1em;
}
footer#footer .container.sep-before:before {
  display: none;
}

@media screen and (min-width: 920px) {
  .has-sidebar .main {
    margin-left: 280px;
    padding-left: 2em;
  }
}

@media screen and (min-width: 480px) {
  body {
      font-size: 1em;
  }
}

/* TOC */

.container.entry-toc {
  border: 1px solid #efefd4;
  border-radius: 5px;
  padding: 1em;
}

.entry-toc a {
  color: #d0b237;
}

/* ENTRY */

/* subtitle decoration like last modified, etc */
.entry-meta {
  font-size: 0.7rem;
}

/* next prev page link */
.entry-nav .container {
  display: flex;
  justify-content: space-between;

  opacity: 0.7;
  font-size: 0.9rem;
}
.entry-nav .container .sep-before:before {
  display: none;
}
.entry-nav .container a span {
  color: #e6ba04;
}

.entry-content a {
  border-bottom: none;
  color: #e6ba04
}
.entry-content a:hover {
  color: #ffcd00;
}


/* POSTS section list */

.widget-recent_posts time {
  color: gray;
}